/.idea/
/l10n_co_ciius/.idea/.gitignore
/update_from_csv/.idea/.gitignore
/l10n_co_ciius/.idea/l10n_co_ciius.iml
/l10n_co_ciius/.idea/misc.xml
/update_from_csv/.idea/misc.xml
/l10n_co_ciius/.idea/modules.xml
/update_from_csv/.idea/modules.xml
/l10n_co_ciius/.idea/inspectionProfiles/profiles_settings.xml
/update_from_csv/.idea/inspectionProfiles/profiles_settings.xml
/update_from_csv/.idea/update_from_csv.iml
/l10n_co_ciius/.idea/vcs.xml
/update_from_csv/.idea/vcs.xml
/l10n_co_ciius/.idea/workspace.xml
/update_from_csv/.idea/workspace.xml
