# IDE files
**/.idea/

# Python cache files
**/__pycache__/

# Run configurations
/.run/odoo-bin.run.xml
launch.json
**/CLAUDE.md
**/.aignore
/l10n_co_edi_jorels_pos/i18n/es.mo
/l10n_co_edi_jorels_pos/i18n/es_CO.mo
/.run/odoo16.run.xml
