<?xml version="1.0"?>

<!--Jorels S.A.S. - Copyright (2024)-->

<!--This file is part of freight_route.-->

<!--freight_route is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU Lesser General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--freight_route is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU Lesser General Public License for more details.-->

<!--You should have received a copy of the GNU Lesser General Public License-->
<!--along with freight_route.  If not, see <https://www.gnu.org/licenses/>.-->

<!--email: info@jorels.com-->

<odoo>
    <!--     Actions -->
    <!-- Routes action-->
    <record model="ir.actions.act_window" id="action_routes">
        <field name="name">Manifests</field>
        <field name="res_model">freight_route.manifest</field>
        <field name="view_mode">tree,form,calendar,pivot,graph</field>
        <field eval="False" name="view_id"/>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create your first Manifest!
            </p>
        </field>
    </record>

    <!--  Carry waypoints action-->
    <record model="ir.actions.act_window" id="action_carry">
        <field name="name">Carries</field>
        <field name="res_model">freight_route.waypoint</field>
        <field name="view_mode">tree,form,calendar,pivot,graph</field>
        <field eval="False" name="view_id"/>
        <field name="domain">[('type','=','carry')]</field>
        <field name="context">{
            'default_type': 'carry',
            'type': 'carry'}
        </field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create your first Carry!
            </p>
        </field>
    </record>

    <!--  Delivery waypoints action-->
    <record model="ir.actions.act_window" id="action_waypoints">
        <field name="name">Deliveries</field>
        <field name="res_model">freight_route.waypoint</field>
        <field name="view_mode">tree,form,calendar,pivot,graph</field>
        <field eval="False" name="view_id"/>
        <field name="domain">['|',('type','=','delivery'),('type','=',None)]</field>
        <field name="context">{
            "search_default_groupby_department" : True,
            'default_type': 'delivery', 'type':
            'delivery'}
        </field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create your first Delivery!
            </p>
        </field>
    </record>

    <!--     Freight route action -->
    <record id="action_freight_route_config" model="ir.actions.act_window">
        <field name="name">Freight route</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="context">{'module' : 'freight_route', 'bin_size': False}</field>
    </record>

    <!--  Menus-->
    <!-- Freight Route Menu -->
    <menuitem id="freight_route.menu_root"
              name="Freight Route"
              web_icon="freight_route,static/description/icon.png"/>


    <!-- Routes menu -->
    <menuitem id="menu_manifests"
              sequence="0"
              name="Manifests"
              action="action_routes"
              parent="freight_route.menu_root"/>

    <!-- Delivery waypoints menu -->
    <menuitem id="menu_waypoints"
              sequence="1"
              name="Deliveries"
              action="action_waypoints"
              parent="freight_route.menu_root"/>

    <!-- Carry waypoints menu -->
    <menuitem id="menu_carry"
              sequence="2"
              name="Carries"
              action="action_carry"
              parent="freight_route.menu_root"/>

    <!--  Vehicles menu-->
    <menuitem id="menu_fleet_vehicle"
              sequence="3"
              name="Vehicles"
              action="fleet.fleet_vehicle_action"
              parent="freight_route.menu_root"
              groups="fleet.fleet_group_user"/>

    <!--  Contacts menu-->
    <menuitem id="menu_contacts"
              sequence="4"
              name="Contacts"
              action="base.action_partner_customer_form"
              parent="freight_route.menu_root"/>

    <!--  Configuration menu-->
    <menuitem id="menu_config"
              sequence="10"
              name="Configuration"
              parent="freight_route.menu_root" groups="freight_route.freight_route_group_manager"/>

    <!-- General settings menu -->
    <menuitem id="menu_freight_route_config"
              name="General configuration"
              action="action_freight_route_config"
              parent="freight_route.menu_config" groups="freight_route.freight_route_group_manager"/>

</odoo>