<?xml version="1.0" encoding="utf-8"?>

<!--Jorels S.A.S. - Copyright (2024)-->

<!--This file is part of l10n_co_freight_route.-->

<!--l10n_co_freight_route is free software: you can redistribute it and/or modify-->
<!--it under the terms of the GNU Lesser General Public License as published by-->
<!--the Free Software Foundation, either version 3 of the License, or-->
<!--(at your option) any later version.-->

<!--l10n_co_freight_route is distributed in the hope that it will be useful,-->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of-->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the-->
<!--GNU Lesser General Public License for more details.-->

<!--You should have received a copy of the GNU Lesser General Public License-->
<!--along with l10n_co_freight_route.  If not, see <https://www.gnu.org/licenses/>.-->

<!--email: info@jorels.com-->

<odoo>
    <!-- Actions -->
    <record model="ir.actions.act_window" id="action_additional_value_reason">
        <field name="name">Additional Value Reason</field>
        <field name="res_model">l10n_co_freight_route.additional_value_reason</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_agreement_type">
        <field name="name">Agreement Type</field>
        <field name="res_model">l10n_co_freight_route.agreement_type</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_bodywork">
        <field name="name">Bodywork</field>
        <field name="res_model">l10n_co_freight_route.bodywork</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_brand_semitrailer">
        <field name="name">Brand Semitrailer</field>
        <field name="res_model">l10n_co_freight_route.brand_semitrailer</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_cancellation_reason">
        <field name="name">Cancellation Reason</field>
        <field name="res_model">l10n_co_freight_route.cancellation_reason</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_chapter">
        <field name="name">Chapter</field>
        <field name="res_model">l10n_co_freight_route.chapter</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_color">
        <field name="name">Color</field>
        <field name="res_model">l10n_co_freight_route.color</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_configuration_semitrailer">
        <field name="name">Configuration Semitrailer</field>
        <field name="res_model">l10n_co_freight_route.configuration_semitrailer</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_configuration">
        <field name="name">Configuration</field>
        <field name="res_model">l10n_co_freight_route.configuration</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_discount_value_reason">
        <field name="name">Discount Value Reason</field>
        <field name="res_model">l10n_co_freight_route.discount_value_reason</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_fulfilled_type">
        <field name="name">Fulfilled Type</field>
        <field name="res_model">l10n_co_freight_route.fulfilled_type</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_fuel_type">
        <field name="name">Fuel Type</field>
        <field name="res_model">l10n_co_freight_route.fuel_type</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_insurance_company">
        <field name="name">Insurance Company</field>
        <field name="res_model">l10n_co_freight_route.insurance_company</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_insurance_holder_type">
        <field name="name">Insurance Holder Type</field>
        <field name="res_model">l10n_co_freight_route.insurance_holder_type</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_license_category">
        <field name="name">License Category</field>
        <field name="res_model">l10n_co_freight_route.license_category</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_manifest_type">
        <field name="name">Manifest Type</field>
        <field name="res_model">l10n_co_freight_route.manifest_type</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_measure_unit">
        <field name="name">Measure Unit</field>
        <field name="res_model">l10n_co_freight_route.measure_unit</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_nature">
        <field name="name">Nature</field>
        <field name="res_model">l10n_co_freight_route.nature</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_operation_type">
        <field name="name">Operation Type</field>
        <field name="res_model">l10n_co_freight_route.operation_type</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_packing">
        <field name="name">Packing</field>
        <field name="res_model">l10n_co_freight_route.packing</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_payment_responsible">
        <field name="name">Payment Responsible</field>
        <field name="res_model">l10n_co_freight_route.payment_responsible</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_product">
        <field name="name">Product</field>
        <field name="res_model">l10n_co_freight_route.product</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_semitrailer">
        <field name="name">Semitrailer</field>
        <field name="res_model">l10n_co_freight_route.semitrailer</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_setting_type">
        <field name="name">Setting Type</field>
        <field name="res_model">l10n_co_freight_route.setting_type</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_suspension_consequence">
        <field name="name">Suspension Consequence</field>
        <field name="res_model">l10n_co_freight_route.suspension_consequence</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_suspension_reason">
        <field name="name">Suspension Reason</field>
        <field name="res_model">l10n_co_freight_route.suspension_reason</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_transshipment_reason">
        <field name="name">Transshipment Reason</field>
        <field name="res_model">l10n_co_freight_route.transshipment_reason</field>
        <field name="view_mode">tree</field>
    </record>

    <record model="ir.actions.act_window" id="action_vat_type">
        <field name="name">Vat Type</field>
        <field name="res_model">l10n_co_freight_route.vat_type</field>
        <field name="view_mode">tree</field>
    </record>

    <!--  Menus-->
    <menuitem id="menu_rndc_listings"
              name="RNDC Listings"
              parent="freight_route.menu_root"
              groups="freight_route.freight_route_group_user"/>

    <menuitem id="menu_additional_value_reason"
              name="Additional Value Reason"
              action="action_additional_value_reason"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_agreement_type"
              name="Agreement Type"
              action="action_agreement_type"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_bodywork"
              name="Bodywork"
              action="action_bodywork"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_brand_semitrailer"
              name="Brand Semitrailer"
              action="action_brand_semitrailer"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_cancellation_reason"
              name="Cancellation Reason"
              action="action_cancellation_reason"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_chapter"
              name="Chapter"
              action="action_chapter"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_color"
              name="Color"
              action="action_color"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_configuration_semitrailer"
              name="Configuration Semitrailer"
              action="action_configuration_semitrailer"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_configuration"
              name="Configuration"
              action="action_configuration"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_discount_value_reason"
              name="Discount Value Reason"
              action="action_discount_value_reason"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_fulfilled_type"
              name="Fulfilled Type"
              action="action_fulfilled_type"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_fuel_type"
              name="Fuel Type"
              action="action_fuel_type"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_insurance_company"
              name="Insurance Company"
              action="action_insurance_company"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_insurance_holder_type"
              name="Insurance Holder Type"
              action="action_insurance_holder_type"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_license_category"
              name="License Category"
              action="action_license_category"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_manifest_type"
              name="Manifest Type"
              action="action_manifest_type"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_measure_unit"
              name="Measure Unit"
              action="action_measure_unit"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_nature"
              name="Nature"
              action="action_nature"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_operation_type"
              name="Operation Type"
              action="action_operation_type"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_packing"
              name="Packing"
              action="action_packing"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_payment_responsible"
              name="Payment Responsible"
              action="action_payment_responsible"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_product"
              name="Product"
              action="action_product"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_semitrailer"
              name="Semitrailer"
              action="action_semitrailer"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_setting_type"
              name="Setting Type"
              action="action_setting_type"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_suspension_consequence"
              name="Suspension Consequence"
              action="action_suspension_consequence"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_suspension_reason"
              name="Suspension Reason"
              action="action_suspension_reason"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_transshipment_reason"
              name="Transshipment Reason"
              action="action_transshipment_reason"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

    <menuitem id="menu_vat_type"
              name="Vat Type"
              action="action_vat_type"
              parent="l10n_co_freight_route.menu_rndc_listings"/>

</odoo>